<div class="home">
  <div class="home__grid">
    <div class="home__grid__mainBlock mainBlock">
      <h1 class="home__grid__mainBlock-title">Узнайте, как мы готовим IT специалистов <p class="highlighted">мирового
          уровня!</p>
      </h1>
      <span class="home__grid__mainBlock-description">Приходите на бесплатную экскурсию по нашей академии и окунитесь в
        мир современных технологий.</span>
    </div>
    <div class="home__grid__smallBlock"></div>
    <div class="home__grid__smallBlock"></div>
    <div class="home__grid__smallBlock"></div>
    <div class="home__grid__smallBlock"></div>
    <div class="home__grid__smallBlock"></div>
    <div class="home__grid__smallBlock"></div>
    <div class="home__grid__bigBlock"></div>
  </div>
</div>
