<footer class="footer">
  <div class="footer_container">
    <div class="footer_wrapper">
      <div class="footer_logo-info">
        <img style="width: 150px;" src="..//public/assets/icons/Ustudy.svg">
        <div class="info_title">“Узнайте, как мы готовим  IT  специалистов мирового уровня! ”</div>
        <div class="info_item">
          <img src="..//public/assets/icons/phone.png" alt="">
          <a>+998(55) 501-5353</a>
        </div>
        <div class="info_item">
          <img src="..//public/assets/icons/telegram.png" alt="">
          <a href="t.me/ustudy_uz">Telegram</a>
        </div>
        <div class="info_item">
          <img src="..//public/assets/icons/insta.png" alt="">
          <a href="https://www.instagram.com/ustudy.uz">Instagram</a>
        </div>
      </div>
    </div>
  </div>
</footer>



<!-- <div class="logo_info">
  <ul class="nav_ul">
    <li class="info_li">
        <a class="info_subtitle" routerLink="/about">Главная</a>
    </li>
    <li class="info_li">
      <a class="info_subtitle" routerLink="/about">О Нас</a>
  </li>
  <li class="info_li">
    <a class="info_subtitle" routerLink="/about">Ивенты</a>
</li>
</ul>
</div> -->
