<footer class="footer">
  <div class="footer_container">
    <div class="footer_wrapper">
      <div class="footer_logo-info">
        <img style="width: 150px;" src="..//public/assets/icons/Ustudy.svg">
        <div class="info_title">Узнайте, как мы готовим <br>  IT  специалистов <br> мирового уровня!</div>
        <div class="info_item">
          <img style="width: 20px;" src="..//public/assets/icons/phone.png" alt="">
          <a class="info_number">+998(55) 501-5353</a>
        </div>
        <div class="info_item">
          <img src="..//public/assets/icons/telegram.png" alt="">
          <a style="color: #fff;" href="https://www.t.me/ustudy_uz">Telegram</a>
        </div>
        <div class="info_item">
          <img src="..//public/assets/icons/insta.png" alt="">
          <a style="color: #fff;" href="https://www.instagram.com/ustudy.uz">Instagram</a>
        </div>
      </div>
      <div class="logo_info">Страницы
        <ul class="nav_ul">
          <li class="info_li">
              <a class="info_subtitle" routerLink="/about">Главная</a>
          </li>
          <li class="info_li">
            <a class="info_subtitle" routerLink="/about">О Нас</a>
        </li>
        <li class="info_li">
          <a class="info_subtitle" routerLink="/about">Ивенты</a>
      </li>
      </ul>
      </div>
      <div class="logo_info">Курсы
        <ul class="nav_ul">
          <li class="info_li">
              <a class="info_subtitle" routerLink="/about">Frontend</a>
          </li>
          <li class="info_li">
            <a class="info_subtitle" routerLink="/courses">Backend</a>
        </li>
        <li class="info_li">
          <a class="info_subtitle" routerLink="/courses">Graphic Design</a>
      </li>
      <li class="info_li">
        <a class="info_subtitle" routerLink="/courses">Motion Design</a>
    </li><li class="info_li">
      <a class="info_subtitle" routerLink="/courses">Введение в кибербезопасность</a>
  </li>
      </ul>
      </div>
      <div class="logo_info">Язык
        <ul class="nav_ul">
          <li class="info_li">
              <a class="info_subtitle" routerLink="/russian">Русский</a>
          </li>
          <li class="info_li">
            <a class="info_subtitle" routerLink="/english">English</a>
        </li>
        <li class="info_li">
          <a class="info_subtitle" routerLink="/uzbek">O'zbekcha</a>
      </li>
      <li class="info_li">
        <a class="info_subtitle" routerLink="/uz-2">Узбекча</a>
    </li>
      </ul>
      </div>
    </div>
  </div>
</footer>

