<header class="header">
  <div class="header-logo">
    <a routerLink="/"><img src="assets/icons/Ustudy.svg" alt="" class="header-logo-main"></a>
    <img src="assets/icons/Uzinfocom.svg" alt="" class="header-logo-more">
  </div>
  <nav class="header__nav">
    <ul class="header__nav-list">
      <a routerLink="/about">
        <li class="header__nav-link">Курсы</li>
      </a>
      <a routerLink="/about">
        <li class="header__nav-link">О нас</li>
      </a>
      <a routerLink="/events">
        <li class="header__nav-link">Ивенты</li>
      </a>
      <a routerLink="/events">
        <li class="header__nav-link">Контакты</li>
      </a>
    </ul>
    <button class="header__nav-btn">Записаться на экскурсию</button>
  </nav>
</header>
