@font-face {
  font-family: "Onest";
  src: url("../public/assets/fonts/Onest.ttf");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
  font-family: "Onest";
}

body {
  padding: 20px 40px;
  background-color: #181818;
}

.highlighted {
  color: #61d93e;
}
